<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Examify</title>
    <link rel="stylesheet" href="~/AdminDashBoard/css/all.min.css"/>
    <link rel="stylesheet" href="~/AdminDashBoard/css/framework.css"/>
    <link rel="stylesheet" href="~/AdminDashBoard/css/master.css"/>
    <link rel="stylesheet" href="~/Student/css/styles.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="page d-flex">
    <!-- Start Navbar -->
    @* <partial name="~/Views/Shared/Admin/_Sidebar.cshtml"/> *@
    <!-- End Navbar -->
    <div class="content w-full">
            @RenderBody()

    </div>
</div>

</body>
</html>