<div class="sidebar bg-white p-20 p-relative">
    <h3 class="p-relative txt-c mt-0">Examify</h3>
    <ul>
        <li>
            <a class="active d-flex align-center fs-14 c-black rad-6 p-10" href="index.html">
                <i class="fa-sharp fa-solid fa-person"></i>
                <span>Profile</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="settings.html">
                <i class="fa-sharp fa-solid fa-person-chalkboard"></i>
                <span>Instractor</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="profile.html">
                <i class="fa-sharp fa-solid fa-bars-progress"></i>
                <span>Course</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="projects.html">
                <i class="fa-sharp fa-solid fa-pen-to-square"></i>  
                <span>Exam</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="courses.html">
                <i class="fa-solid fa-building"></i>
                <span>Department</span>
            </a>
        </li>
        <li>
            <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="friends.html">
                <i class="fa-solid fa-square-poll-horizontal"></i>
                <span>Report</span>
            </a>
        </li>
       
    </ul>
</div>