
@{
    ViewData["Title"] = "ExamDisabled";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Warning</title>
    <link href="~/css/ExamWarnning.css" rel="stylesheet" />
</head>
<body>
    <div class="card">
        <h2>Caution!</h2>
        <p>Dear Student,</p>
        <p>You have missed today's exam. Please ensure you attend all scheduled exams.</p>
        <a type="button" asp-action ="Login" asp-controller ="Account" class="btn btn-dark">Logout</a>
    </div>
</body>
</html>






